#background-image {
  background: url('/static/img/NickNatalie-10.jpg') center;
  width: 100vw;
  height: 100vh; 
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.photo-gallery {
    color:#313437;
    background-color:#fff;
  }

.photo-gallery .photos {
padding-bottom:20px;
}
  
.photo-gallery .item {
  padding-top: 30px;
  padding-bottom:30px;
}

.guest-book > p img {
  max-height: 100%;
  max-width: 100%;
}
