body, html {
  height: 100%;
}

.home-bg {
  background-image: url('/static/img/NickNatalie-10.jpg');

  height: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.photo-gallery {
    color:#313437;
    background-color:#fff;
  }

.photo-gallery .photos {
padding-bottom:20px;
}
  
.photo-gallery .item {
  padding-top: 30px;
  padding-bottom:30px;
}