{% extends 'base.html' %}

{% block app_content %}
<h1>About Us</h1>

<p>We'll have some text about how we met and all that cheesy stuff. We might even put in some info about the wedding
    party if we're feeling up to it!</p>

<div class="photo-gallery">
    <div class="container">
        <div class="row photos">
            {% for g in gallery %}
            <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="static/img/gallery/{{ g }}"
                    data-lightbox="photos"><img class="img-fluid" src="static/img/gallery/{{ g }}"></a></div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}