<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        {% block title %}
        {% if title %}Nick & Natalie - {{ title }} {% else %} Nick & Natalie {% endif %}
        {% endblock %}
    </title>
    <link rel="icon" href="{{url_for('static', filename='icons/favicon-N+N-white.png')}}" type="image/png"
        sizes="32x32">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">

    {% block extra_css %}{% endblock %}

</head>

<body>

    {% block jumbotron %}{% endblock %}

    {% block navbar %}
    <nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('main.index') }}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('main.photos') }}">Photos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('main.the_big_day') }}">The Big Day</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('main.registry') }}">Registry</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('main.guest_book') }}">Guest Book</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('main.rsvp') }}">RSVP</a>
                </li>
            </ul>
        </div>
    </nav>
    {% endblock %}

    {% if title == 'Home' %}
    <!-- This feels clunky, need to find a better way -->
    <div class="home-bg">
    </div>
    {% else %}
    <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-info" role="alert">{{ message }}</div>
        {% endfor %}
        {% endif %}
        {% endwith %}

        {% block app_content %}{% endblock %}

    </div>
    {% endif %}
    <footer class="mastfoot bg-dark py-3">
        <div class="text-center">
            <img class="mb-1" src="{{ url_for('static', filename='icons/N+N-white.png') }}" alt="">
            <p class="text-white"><small>Designed by Natty & <a href="https://github.com/nickbap/BoatParty"
                        target="_blank" class="font-weight-bold">Created</a> by Nick</small></p>
        </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>

    {% block extra_js %}{% endblock %}

</body>

</html>