{% extends 'base.html' %}

{% block app_content %}

<div class="text-center pt-3">
    <h1>Frequently Asked Questions</h1>
    <p>Here's a list of Frequently Asked Questions and Answers!</p>
</div>
<div class="row py-5">
    <div class="col-sm-6 text-center">
        <h4>Q:</h4>
        <p>What is the dress code?</p>
    </div>
    <div class="col-sm-6 text-center border-left">
        <h4>A:</h4>
        <p>Cocktail Attire! Please remember it's an outdoor wedding with grass and gravel.</p>
    </div>
</div>
<div class="row py-5">
    <div class="col-sm-6 text-center">
        <h4>Q:</h4>
        <p>Are kids invited?</p>
    </div>
    <div class="col-sm-6 text-center border-left">
        <h4>A:</h4>
        <p>We love kids, but no, this wedding is for adults only.</p>
    </div>
</div>
<div class="row py-5">
    <div class="col-sm-6 text-center">
        <h4>Q:</h4>
        <p>Is there a shuttle to and from the Ceremony? What about after?</p>
    </div>
    <div class="col-sm-6 text-center border-left">
        <h4>A:</h4>
        <p>TBD</p>
    </div>
</div>
<div class="row py-5">
    <div class="col-sm-6 text-center">
        <h4>Q:</h4>
        <p>Can I bring a date?</p>
    </div>
    <div class="col-sm-6 text-center border-left">
        <h4>A:</h4>
        <p>Only if your invitaiton says so!</p>
    </div>
</div>
<div class="row py-5">
    <div class="col-sm-6 text-center">
        <h4>Q:</h4>
        <p>What time should I arrive at the venue?</p>
    </div>
    <div class="col-sm-6 text-center border-left">
        <h4>A:</h4>
        <p>Please arrive between 4:00 & 4:15. The Bride will walk down the aisle at 4:30!</p>
    </div>
</div>
<div class="row py-5">
    <div class="col-sm-6 text-center">
        <h4>Q:</h4>
        <p>Do you have any hotel recommendations?</p>
    </div>
    <div class="col-sm-6 text-center border-left">
        <h4>A:</h4>
        <p>Yes! Please check out our <a class="text-info" href="{{ url_for('main.where_to_stay') }}">Where to Stay</a> page.
        </p>
    </div>
</div>
<div class="row py-5">
    <div class="col-sm-6 text-center">
        <h4>Q:</h4>
        <p>Is there parking at the venue?</p>
    </div>
    <div class="col-sm-6 text-center border-left">
        <h4>A:</h4>
        <p>Yes! There is a large parking lot at the Marin Art & Garden Center.</p>
    </div>
</div>
<div class="row py-5">
    <div class="col-sm-6 text-center">
        <h4>Q:</h4>
        <p>Is the venue indoor & outdoor?</p>
    </div>
    <div class="col-sm-6 text-center border-left">
        <h4>A:</h4>
        <p>The ceremony is outside on a lawn, the reception is on a gravel area, and the dance floor is indoors.
            Remember to
            wear comfortable shoes and a jacket incase it gets chilly!</p>
    </div>
</div>
{% endblock %}