{% extends 'base.html' %}

{% block app_content %}

<div class="text-center pt-3">
    <h1 class="hello">The Big Day</h1>
    <p>Here's what to expect on The Big Day. We can't wait to celebrate with you!</p>
</div>
<div class="row align-items-center mt-5">
    <div class="col-sm-6 text-center">
        <h4>Ceremony</h4>
        <p>Saturday, August 28, 2021</p>
        <p>4:30pm</p>
    </div>
    <div class="col-sm-6 text-center border-left">
        <img src="{{ url_for('static', filename='icons/floral.png') }}" alt="">
        <h6>Marin Art & Garden Center</h6>
        <address>30 Sir Francis Drake Blvd., Ross, CA 94957</address>
        <p>The Ceremony should last about 30 minutes. Cocktail Hour to follow. Please note that the Ceremony takes place
            on Grass so be careful with your shoes.</p>
        <a class="btn btn-info" target="_blank"
            href="https://www.google.com/maps/place/Marin+Art+%26+Garden+Center/@37.9627604,-122.5578252,16z/data=!4m5!3m4!1s0x808597495de32a3f:0x67d1228447e3c382!8m2!3d37.9634413!4d-122.5556122"
            role="button">Map</a>
    </div>
</div>
<div class="row align-items-center py-5">
    <div class="col-sm-6 text-center">
        <h4>Reception</h4>
        <p>Saturday, August 28, 2021</p>
        <p>6:00pm to 10:00pm</p>
    </div>
    <div class="col-sm-6 text-center border-left">
        <img src="{{ url_for('static', filename='icons/place-setting.png') }}" alt="">
        <h6>Marin Art & Garden Center</h6>
        <address>30 Sir Francis Drake Blvd., Ross, CA 94957</address>
        <p>The Reception will take place outside. It can be a bit chilly so consider bringing a light jacket. The
            night will consist of dinner, drinks, and dancing. What else can you ask for with the people we love?!
        </p>
    </div>
</div>

{% endblock %}