<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% if title %}
    <title>{{ title }}</title>
    {% endif %}
</head>

<body>
    <nav>
        <a href="{{ url_for('index') }}">Home</a>
        <a href="{{ url_for('about') }}">About Us</a>
        <a href="{{ url_for('details') }}">Details</a>
        <a href="{{ url_for('registry') }}">Registry</a>
        <a href="{{ url_for('guest_book') }}">Guestbook</a>
        <a href="{{ url_for('rsvp') }}">RSVP</a>
    </nav>

    {% block content %}{% endblock %}

</body>

</html>