<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% if title %}
    <title>{{ title }}</title>
    {% endif %}
</head>

<body>
    <nav>
        <a href="#">About Us</a>
        <a href="#">Schedule</a>
        <a href="#">Location</a>
        <a href="#">Registry</a>
        <a href="#">Guestbook</a>
        <a href="#">Contact/ RSVP</a>
    </nav>

    {% block content %}{% endblock %}

</body>

</html>